$color-purple: #a26ded;
$color-green: #65a21f;
$color-darkgreen: #3b7b1d;
$color-gray: #e9ede7;
$color-darkgray: #444444;
$color-white: #ffffff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  background: #fff;
  //background-image: url("../images/garden-flowers-1389057.jpg");
  background-size: cover;
  color: #333;
  font-family: Arial, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  line-height: 1.5em;
  text-align: center;
}

:focus { outline: 0; }

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}


header[role='banner'] {
  background: $color-green;
  border-bottom: 4px $color-darkgreen solid;

  div {
    color: $color-white;
    font-size: 36px;
    font-weight: bold;
    margin: 0 auto;
    padding: 20px 0;
    text-align: left;
    vertical-align: middle;
    width: 1000px;
  }
}

.main {

}

.selectbar {
  background: $color-gray;
  margin-bottom: 20px;
  padding: 20px 0;
}

select {
  -webkit-appearance: none;
  background: $color-white;
  border: 0;
  border-radius: 4px;
  color: $color-green;
  font-weight: bold;
  padding: 7px 10px;
  width: 150px;
  z-index: 100;
}

option {
  background: $color-white;
  border: 2px $color-green solid;
  padding: 5px 10px;
}

input {
  visibility: hidden;
}


label {
  position: relative;
  line-height: 29px;
}

/*label::before {
  content: "";
  background: #fff;
  position: absolute;
  top: 0;
  left: 109px;
  width: 146px;
  height: 28px;
  //z-index: 0;
}*/

label[for='pattern']::after {
  border-right: 4px $color-green solid;
  border-bottom: 4px $color-green solid;
  content: "";
  height: 8px;
  position: absolute;
  right: 8px;
  top: 2px;
  transform: rotate(45deg);
  width: 8px;
}

[type="checkbox"] + label::before {

}

[type="checkbox"] + label::before {
  background: $color-white;
  border-radius: 4px;
  content: "";
  height: 29px;
  left: -35px;
  position: absolute;
  transition: all 0.7s;
  width: 29px;
}

[type="checkbox"]:checked + label::after {
  border-bottom: 4px $color-green solid;
  border-right: 4px $color-green solid;
  content: "";
  height: 10px;
  left: -25px;
  position: absolute;
  top: -1px;
  transform: rotate(40deg);
  width: 6px;
}

.plant-list {
  margin: 0 auto;
  width: 1000px;
}

.plant-row {
  background: #d1e8ba;
  border-radius: 5px;
  margin-bottom: 5px;
  text-align: left;
  transition: opacity 0.7s;

  &:hover {
    transition: background 0.7s;
  }

  div {
    display: table-cell;
    font-size: 12px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    width: 100px;

    &:not(:last-child) {
      border-right: 1px #fff solid;
    }
  }
}

.header {
  background: $color-darkgray;
  color: #fff;
  font-weight: bold;

  > div {
    //float: left;
  }
}

.tree {
  background: #d1e8ba;
  &:hover {
    background: #96b680;
  }
}

.flower {
  background: #ffdedd;

  &:hover {
    background: #ce8b82;
  }
}

.plant-name { font-weight: bold; }

.pagination {
  visibility: hidden;
}

.page-btn {
  background: $color-gray;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
}

.page-num {
  background: $color-darkgray;
  border-radius: 4px;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
}
